In [2]:
marks={
    "Klaus":[90,86,77],
    "caroline":[80,79,88],
    "Demon":[96,70,80],
    "Elena":[99,67,70]
}

In [ ]:
print("Student wise Averages")
for name in marks:
    avg=sum(marks[name])/3
    print(name,"-> Average : ",round(avg,2))    #This keeps 2 decimal place

Klaus -> Average :  84.33
caroline -> Average :  82.33
Demon -> Average :  82.0
Elena -> Average :  78.67

In [ ]:
print("Topper of Class")
max_total=0 #variable stores the highest total marks found so far
topper="" #variable stores the name of the topper
for name in marks:
    total=sum(marks[name]) #marks[name] gives the list of 3 subject marks for the student
                           #sum() adds all those marks
    if total>max_total:
        max_total=total   #Update max_total to the new higher value
        topper=name
print("Topper : ",topper, "with" ,max_total ,"marks")

Topper of Class
Topper :  Klaus with 253 marks

In [ ]:
print("Subject wise Average")
student_count=len(marks)

sub1=0
sub2=0
sub3=0

for name in marks:
    sub1=sub1+marks[name][0]
    sub2=sub2+marks[name][1]
    sub3=sub3+marks[name][2]

print("Subject1 : ",round(sub1/student_count,2))
print("Subject2 : ",round(sub2/student_count,2))
print("Subject3 : ",round(sub3/student_count,2))

Subject wise Average
Subject1 :  91.25
Subject2 :  75.5
Subject3 :  78.75

In [22]:
marks={
    "Alice":[70,80,90],
    "Bob":[60,70,65],
    "Charlie":[90,95,88]
}

#Student wise Average
for name in marks:
    avg=sum(marks[name])/3
    print(f"{name} Average marks :",(round(avg,2))) 

# Topper among Students
max_total=0
topper=""
for name in marks:
    total=sum(marks[name])
    if total>max_total:
        max_total=total
        topper=name
print("Topper: ",name ,"with",max_total ,"marks")

# Subject wise Average

stud_count=len(marks)
sub1=0
sub2=0
sub3=0
 
for name in marks:
    sub1=sub1+marks[name][0]
    sub2=sub2+marks[name][1]
    sub3=sub3+marks[name][2]
print("Subject wise Average : ")
print("Math: ",round(sub1/stud_count,2))
print("Science: ",round(sub2/stud_count,2))
print("English: ",round(sub3/stud_count,2))

Alice Average marks : 80.0
Bob Average marks : 65.0
Charlie Average marks : 91.0
Topper:  Charlie with 273 marks
Subject wise Average :
Math:  73.33
Science:  81.67
English:  81.0